@use "colours" as *;
@use "typography" as *;
@use "spacing" as *;

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--rose-050);
}

body {
  color: var(--rose-900);
  font-family: $font-family-red-hat-text;

  h1 {
    @include fontStyles('preset-1');
    margin: var(--spacing-400) 0;
  }

  img {
    width: 100%;
    height: auto;
  }
}