:root {
  /* Black */
  --black: #000;

  /* White */
  --white: #FFF;

  /* Green */
  --green: #1EA575;

  /* Rose */
  --rose-900: #260F08;
  --rose-500: #87635a;
  --rose-400: #AD8A85;
  --rose-300: #CAAFA7;
  --rose-100: #F5EEEC;
  --rose-050: #FCF8F6;

  /* Red */
  --red: #C73B0F;
}
