@use "../../../src/styles/spacing" as *;
@use "../../../src/styles/colours" as *;
@use "../../../src/styles/typography" as *;

#main-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: var(--spacing-400);
  max-width: var(--container-max-width);
  padding: 0 var(--spacing-300);
  margin: var(--spacing-300) auto;

  @media (min-width: $media-md) {
    grid-template-columns: 66.66% 33.33%;
    margin: var(--spacing-500) auto;
    padding: 0 var(--spacing-500);
  }

  @media(min-width: $media-lg) {
    margin: var(--spacing-1100) auto;
  }
}