@use "../../../src/styles/spacing" as *;
@use "../../../src/styles/colours" as *;
@use "../../../src/styles/typography" as *;

#products-index {
  @media(min-width: $media-md) {
    margin: 0 var(--spacing-400) 0 0;
  }

  .products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: var(--spacing-400) var(--spacing-300);
  }

  h1 {
    @include fontStyles('preset-1');
    margin: 0 0 var(--spacing-400);
  }

  .product-image {
    aspect-ratio: 250 / 240;
    border-radius: var(--radius-8);
  }

  .product-category {
    @include fontStyles('preset-4');
    color: var(--rose-500);
    margin: 0 0 var(--spacing-050);
  }

  .product-name {
    @include fontStyles('preset-3');
    margin: 0 0 var(--spacing-050);
  }

  .product-price {
    margin: 0 0 var(--spacing-050) ;
    @include fontStyles('preset-3');
    color: var(--red);
  }
}